<% if current_user.is_supplier == true %>
<div class="jumbotron picture_section">
  <div>
    <h4 class="bussiness_info_title">Business Information</h4>

    <% @my_businesses.each do |business| %>
    <p class="business_info">
    <strong>Trading name:</strong>
    <%= business.trading_name %>
    </p>

    <p class="business_info">
    <strong>Registered business name:</strong>
    <%= business.registered_business_name %>
    </p>

    <p class="business_info">
    <strong>Business address:</strong>
    <%= business.business_address %>
    </p>

    <p class="business_info">
    <strong>Post code:</strong>
    <%= business.post_code %>
    </p>

    <p class="business_info">
    <strong>Abn:</strong>
    <%= business.abn %>
    </p>

    <p class="business_info">
    <strong>Phone number:</strong>
    <%= business.phone_number %>
    </p>

    <%= link_to 'Edit business', edit_business_path(business) %>
    | <%= link_to "New Product", new_business_product_path(business_id: @business.id)%> 
    | <%= link_to "History", history_path(business_id: @business.id)%>
  </div>
  <div class="profile_pic">
    <div class="picture">
        <%= image_tag current_user.avatar_url%>
        <div>
          <%= link_to('Sign out', destroy_user_session_path, method: :delete)%>
          | <%= link_to "Edit user", edit_user_registration_path(current_user)%>
        </div>
    </div>
  </div>
  <% end %>
</div>

<% else %>

<div class="jumbotron picture_section">
  <div>
    <h4 class="bussiness_info_title">User Information</h4>

    <% @my_user.each do |user| %>
    <p class="business_info">
    <strong>First name:</strong>
    <%= user.first_name %>
    </p>

    <p class="business_info">
    <strong>Last name:</strong>
    <%= user.last_name %>
    </p>

    <p class="business_info">
    <strong>Email:</strong>
    <%= user.email %>
    </p>

    <p class="business_info">
    <strong>Date of brith:</strong>
    <%= user.date_of_birth %>
    </p>

    <p class="business_info">
    <strong>Post code:</strong>
    <%= user.post_code %>
    </p>

    <%= link_to "Edit user", edit_user_registration_path(current_user) %>
  </div>
  <div class="profile_pic">
    <div class="picture">
        <%= image_tag current_user.avatar_url%>
        <div>
          <%= link_to('Sign out', destroy_user_session_path, method: :delete)%>
        </div>
    </div>
  </div>
  <% end %>
</div>

<% end %>

<h1>My Active Products</h1>
<% @my_products.each do |product| if product.active? %>
<h3>Title: <%= link_to product.name, business_product_path(business_id: product.user.id, id: product.id) %></h3>
<div>Price: $<%= product.cost %></div>
<div>Location: <%= product.location %></div>
<div>isActive?: <%= product.active %></div>
<div>Category: <%= product.category %></div>
<div>keywords: <%= product.keywords %></div>
<div>Description: <%= product.description %></div>
<div>
<span><%=link_to "View Detail",business_product_path(business_id: product.user.id, id: product.id)%></span>
<span><%=link_to "Buy Me",business_product_path(business_id: product.user.id, id: product.id)%></span>
<% if product.active? == true %>
<span><%= link_to 'Make Product Inactive', inactive_business_product_path(business_id: product.user.id, id: product.id), method: :put %></span>
<% else %>
<span><%= link_to 'Make Product Active', inactive_business_product_path(business_id: product.user.id, id: product.id), method: :put %></span>
<% end %>
</div>
<br>
<% end %>
<% end %> 

<h2> Purchases </h2>

<div>
  <% @productreviews.each do |x| %>
      <div>
        Name: <%= x.product.name %>
      </div>
      <div>
        Cost: $<%= x.product.cost %>
      </div>
      <% if x.comment != nil %>
        <div>
          Rating: <%= x.rating %>
        </div>
        <div>
          Comment: <%= x.comment%>
        </div>
        <div>
          <%= link_to "Edit review", edit_product_review_path(x.id,product_id: x.product_id)%>
        </div>
      <% else%>
        <div>
          <%= link_to "Create review", edit_product_review_path(x.id,product_id: x.product.id)%>
        </div>
      <% end %>
  <% end %>
</div>