<h1> Advance Search</h1>
<p>View>search>advanced_search.html.erb</p>
<%# 
<%= text_field_tag :search, params[:search]%> 

<%= form_with url: advanced_search_path,local:true do |form|%>
    <div class="field">
        <%= form.label "Keywords*"%>
        <%= form.text_field :keywords%>
    </div>

    <div class="field">
        <%= form.label "Category"%>
        <%= form.select :category_id,  @category %>
    </div>

    
    <div class="field">
        <%= form.label  :min_cost, "Min Price"%> - <%= form.text_field :max_cost, size: 10%>
        <%= form.label  :max_cost, "Max Price"%> - <%= form.text_field :max_cost, size: 10, :value=>"10000"%>
    </div>

    <div class="field">
        <%=form.label "Age Group"%>
        <%= form.select :age_group_id,  @groups %>
                 
    </div>

    <div class="action">
        <%=form.submit "Search" %>
    </div>

<%end%>
<p>(* necessary field)</p>


    