<h1> you are in advance search</h1>
<p>View>search>advanced_search.html.erb</p>


<%= form_with model: @search,local:true do |form|%>
    <div class="field">
        <%= form.label :keywords%>
        <%= form.text_field :keywords%>
    </div>

    <div class="field">
        <%= form.select :category_id,  @category %>
    </div>

    
    <div class="field">
        <%= form.label  :cost, "Min Price"%> - <%= form.text_field :cost, size: 10%>
        <%= form.label  :cost, "Max Price"%> - <%= form.text_field :cost, size: 10%>
        <%= form.text_field :keywords%>
    </div>

    <div class="field">
        <%= form.select :age_group_id,  @groups %>
                 
    </div>



    <div class= "field">
        <%= form.label :active, "Rating:"%>
    </div>

    <div class="action">
        <%=form.submit "Search",class:"pure-button pure-button-primary"%>
    </div>

<%end%>


    