<h3>This page displays Search result</h3>

    <% @products.each do |product| %>
      
        <h3>Title: <%= link_to product.name, business_product_path(business_id: product.user.id, id: product.id)  %></h3>
        <div>Price: $<%= product.cost %></div>
        <div>Location: <%= product.location %></div>
        <div>isActive?: <%= product.active %></div>
        <div>Category: <%= product.category %></div>
        <div>keywords: <%= product.keywords %></div>
        <div>Description: <%= product.description %></div>
        <div>
          <span><%=link_to "View Detail",business_product_path(business_id: product.user.id, id: product.id)%></span>
          <span><%=link_to "Buy Me",business_product_path(business_id: product.user.id, id: product.id)%></span>
        </div>
        <br>
     <% end %>
