<h1>This page displays Search result</h1>
<table>
<thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Location</th>
      <th>Description</th>
      <th>Category</th>
      <th>Keywords</th>
      <th> colspan="3"></th>
    </tr>
  </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.cost %></td>
            <td><%= product.location %></td>
            <td><%= product.description %></td>
            <td><%= product.category %></td>
            <td><%= product.keywords %></td>
        </tr>
        <% end %>
    </tbody>
</table>

