<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @product.keywords %>
</p>



<% if current_user.is_supplier?%>
<%= link_to 'Edit', edit_business_product_path %> 
<% end %>

<%= link_to 'Back', profile_path %> 
<%# <%= link_to 'Delete Item', business_product_path, method: :delete %>
<% if @product.user_id == current_user.id %>
<% if @product.active? == true %>
| <%= link_to 'Make Product Inactive', inactive_business_product_path, method: :put %>
<% else %>
| <%= link_to 'Make Product Active', inactive_business_product_path, method: :put %>
<% end %>
<% end %> 

<%# (@product, business_id: @product.user.business.id ) %>
