<h1>Product Detail </h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @product.keywords %>
</p>

<%= link_to 'Back', business_products_path  %>
<%= form_with url: '/' do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
       </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.credentials.stripe[:publishable]%>"
          data-description="What a good purchase !!!"
          data-amount= <%=(@product.cost*100)%>
          data-locale="auto"></script>
<% end %>
<%= link_to 'Back', profile_path %> 


  <% if @product.user_id == current_user.id %>
  <%= link_to 'Edit', edit_business_product_path %> 
  <% if @product.active? == true %>
  <%# <%= link_to 'Make Product Inactive', inactive_business_product_path(@product, business_id: @product.user.business.id ), method: :put %>
  <% else %>
  <%= link_to 'Make Product Active', inactive_business_product_path(@product, business_id: @product.user.business.id ), method: :put %>
  <% end %>
  <% end %>




